{% extends "base-en.html" %}
{% block title %}Martin Šmíd{% endblock title %}

{% block content %}
<div class="big-head">
  <h1>{{ section.title }}</h1>
  <div class="sect-nav">
    <a href="/en">home</a>
    <a href="/en/profes">profesional</a>
    <a href="/en/others">others</a>
  </div>
</div>
<div class="cards">
  {% for page in section.pages %}
  {% if page.description == "trans" %}
  <div class="card" style="background-color: rgba(255, 255, 255, 0);box-shadow: 0 0 0;">
    <header>
      <h2>{{ page.title }}</h2>
    </header>
    <!--<div align="right">Published on: {{ page.date | date(format="%d/%m/%Y") }}&nbsp;</div>-->
    <div class="card-body">{{ page.summary | safe }}</div>
  </div>
  {% else %}
  <div class="card");">
    <header>
      <h2>{{ page.title }}</h2>
    </header>
    <!--<div align="right">Published on: {{ page.date | date(format="%d/%m/%Y") }}&nbsp;</div>-->
    <div class="card-body">{{ page.summary | safe }}</div>
    {% if page.description == "more" %}
    <footer>
      <a href="{{ page.permalink | safe }}">&#10142; more</a>
    </footer>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}